.spec_item {
    padding: 2.5em;
}

.spec_icon {
    width: 5em;
    margin: auto;
    padding: 2em;
    background-color: var(--accent_color_main);
    border-radius: 2em;
    margin-bottom: 2em;
}

.spec_title {
    padding: 0.5em 0em;
}
