.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



body {
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: 'Poppins';
  height: 3000px;
}

#main_canvas {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: block;
  z-index: -2;
}

#container {
  height: 3000px;
  
}

.landing_screen {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.color_box {
  position: absolute;
  width: 111px;
  height: 80px;
  left: 76px;
  top: 102px;
  
  /* kinda fresher / light blue */
  
  background: #10E9EE;
}

.ls_main {
  position: absolute;
  width: 349px;
  height: 134px;
  left: 187px;
  top: 260px;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 96px;

  color: #000000;
}

.ls_secondary {
  position: absolute;
  width: 461px;
  height: 138px;
  left: 187px;
  top: 394px;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;

  color: #000000;
}

#ls_divider {
  position: absolute;
  width: 30px;
  height: 100vh;
  left: 50%;
  top: 0px;

  /* kinda fresher / light blue */

  background: #10E9EE;
}


.landing_screen_child {
  flex: 1;
}

.fixed_background {
  background-image: url("./imgs/whiteblack.png");
  background-attachment: fixed;
}

#landing_screen_viewport {
  z-index: -3;
}

#landing_text {
  margin: auto;
  text-align: center;
}

.spec_section {
  position: relative;
  width: 1440px;
  height: 814px;
  left: 0px;
  top: 0px;
}

.spec_content {
  position: absolute;
  width: 60vw;
  height: 620px;
  left: 20vw;
  top: 88px;

  background: #FFFFFF;
  border: 4px solid #000000;
  box-sizing: border-box;
  border-radius: 33px;
}

.spec_top {
  position: absolute;
  width: 90vw;
  height: 218px;
  left: 5vw;
  top: 0px;

  border-radius: 0px 0px 25px 25px;
}

/* convert this to react */
/* add bootstrap */